<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
	<h2>choice page</h2>
			
	<div><input type=button style="WIDTH: 500pt; HEIGHT: 150pt; font-size : 30pt" value="국어" onclick="location.href='/boardList';"></div>
	<div><input type=button style="width:500pt; height:150pt; font-size : 30pt;" value="수학" onclick="location.href='/boardList';"></div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br>	
			
	<div><input type=button style="width:500pt; height:150pt; font-size : 30pt;" value="내 정보 페이지" onclick="location.href='/boardList';"></div>
	</body>
</body>
</html>