<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scal=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WitiTimer</title>
    <script src="http://code.jquery.com/jquery-3.4.1.min.js">
    </script>
  </head>
  <body>
    <span style="text-align: center; color:pink;">
      <h1>WitiTimer_loginPage</h1>
    </span>
    <form id="userLogin">
      ID : <input type="text" id="user_id" name="user_id"/>
      <br/>
      PW : <input type="password" id="user_pw" name="user_pw"/>
      <br/>
      <input type="submit" value="ë¡ê·¸ì¸"/>
      <br/>
      <a href="signin.html">íìê°ì</a>
    </form>
  </body>
</html>
