<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>HaYeonTimer 성적표</title>
</head>
	 <style>
	h2 { text-align: center;}
  table { width: 30%; margin-left: auto; margin: auto; text-align: center;}
  textarea { width: 30%;}
 	#outter {
		display: block;
		width: 30%;
		margin: auto;
	}
</style>

<h2>HaYeonTimer 성적표</h2>
<br> 
<div><input type="button" value="카톡으로 보내기" style="float:right;"  onclick="location.href='/boardList';"></div><div id="outter">
	<table border="1"> 
		<tr>
			<td>국어 : 1등급</td> 
		</tr>
		<tr>
			<td>수학 : 2등급</td> 
		</tr>
	</table>
	<h2>총 공부 시간</h2>
	<br>
	<table border="1">
		<tr>
			<td>국어 : 80:00</td>
			</tr>
			<tr>
			<td>수학 : 67:00</td>
			</tr>
	</table>
	<h2>남은 공부 시간</h2>
	<br>
	<table border="1">
		<tr>
			<td>국어 : 30:00 1% </td>
			</tr>
			<tr>
			<td>수학 : 24:00 1% </td>
			</tr>
			<tr>
			<td>합계 : 56:00 1등급 </td>
			</tr>
	</table>
</div>
</body>
</html>